body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #000;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;


    #border {
        border: 1px solid #ccc;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }


    #hero {
        left: 0;
        top: 0;
        position: absolute;
    }

    .txt {
        left: 0;
        top: 0;
        opacity:0;
        position: absolute;
    }

    #txt01 {
        clip: rect(0px, 300px, 103px, 0px);
    }

    #txt02 {
        clip: rect(103px, 300px, 147px, 0px);
    }

    #txt03 {
        clip: rect(147px, 300px, 188px, 0px);
    }


    #plug {
        left: 113px;
        bottom: 0;
        opacity:0;
        position: absolute;
    }

    #cta {
        width: 170px;
        height: 32px;
        left: 27px;
        top: 280px;
        background-color: rgba(0, 192, 255, 1);
        opacity:0;
        position: absolute;
    }

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    #border {
        border: 1px solid #ccc;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }


}
